{block content}
<h1 n:block=title>Přehled typů výběhu</h1>

<table>
    {foreach $enclosureTypes as $enclosureType}
        <tr>
            <td><a n:href="EnclosureType:detail $enclosureType->getId()">{$enclosureType->getId()}</a></td>
            <td>{$enclosureType->getName()}</td>
        </tr>
    {/foreach}
</table>

<a n:href="EnclosureType:create">Vytvořit nový</a>
