services:
	- App\Forms\FormFactory

	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory

	- App\User\Forms\UserEditFormFactory

	- App\Forms\SpeciesFormFactory
	- App\Forms\EnclosureTypeFormFactory
	- App\Forms\EnclosureFormFactory
	- App\Forms\AnimalFormFactory
	- App\Forms\AnimalDeathFormFactory
	- App\Forms\FeedingFormFactory
	- App\Forms\CleaningTypeFormFactory
	- App\Forms\CleaningFormFactory

	- App\Forms\CertificateFormFactory
	- App\Forms\SpeciesCertificateFormFactory
	- App\Forms\EnclosureTypeCertificateFormFactory
	- App\Forms\CleaningTypeCertificateFormFactory
