services:
	- App\Forms\FormFactory

	- App\Forms\SignInFormFactory
	- App\Forms\SignUpFormFactory

	- App\User\Forms\UserEditFormFactory

	- App\Forms\SpeciesFormFactory
	- App\Forms\EnclosureTypeFormFactory
	- App\Forms\EnclosureFormFactory
	- App\Forms\AnimalFormFactory
	- App\Forms\AnimalDeathFormFactory
