services:
	- App\Repositories\UserRepository
	- App\Repositories\SpeciesRepository
	- App\Repositories\EnclosureTypeRepository
	- App\Repositories\EnclosureRepository
	- App\Repositories\AnimalRepository
	- App\Repositories\FeedingRepository
